<section class="page-section page-section--lg page-section--hero" style="background-color: {{ backgroundColour }};background-image: url({{ backgroundImage }});">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 page-section__content">
                <h2 class="text-spaced">
                    <a href="{{ slug }}">{{ title }}</a>
                </h2>
                <p>{{ tagline }}</p>
                <a href="{{ slug }}" class="button button--white button--push">Read More</a>
            </div>
        </div>
    </div>
</section>
